[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
requests = "*"
python-dotenv = "*"
ipython = "*"
django = "*"
django-timezone-field = "*"
django-cors-headers = "*"
django-debug-toolbar = "*"
whitenoise = "*"
psycopg2-binary = "*"
dj-database-url = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"
python-telegram-bot = "==13.13"
gunicorn = "*"
uvicorn = "*"
httptools = "*"
geopy = "*"

[dev-packages]

[requires]
python_version = "3.10"
